# Ignore cache, testing, build, and other temporary directories
tests/regression/grammars/
tests/regression/logs/

# Ignore the compiled python files
*.pyc
__pycache__/

# Ignore auto-saves
*~
py3env
.idea
tests/regression/home/current
update
score
set
rule
phenomenon
parameter
output
item-phenomenon
fold
analysis
pydelphin13
