/* $Id: matrix.css,v 1.10 2008-09-09 08:37:52 sfd Exp $ */

html { overflow: scroll }

.section { background-color: #E0FFFF; margin-top: 1px; margin-bottom: 1px }

.values { padding-left: 1.2em }

.indented { margin-left: 10%; margin-right: 10% }

.error { color: #FF0000 }

div.anchor { display: none }

div.iterator {
  padding-left: 2px;
  margin: 4px 0px 4px 16px;
  border-left-width: 3px;
  border-left-style: solid;
}

div.iterator {
  border-left-color: #AAAAAA;
}

div.iterator div.iterator {
  border-left-color: #FFAAAA;
}

div.iterator div.iterator div.iterator {
  border-left-color: #AAFFAA;
}

div.iterator div.iterator div.iterator div.iterator {
  border-left-color: #AAAAFF;
}

div.iterator div.iterator div.iterator div.iterator div.iterator {
  border-left-color: #FFFFAA;
}

div.iterator div.iterator div.iterator div.iterator div.iterator div.iterator {
  border-left-color: #FFAAFF;
}

div.iterator div.iterator div.iterator div.iterator div.iterator div.iterator div.iterator {
  border-left-color: #AAFFFF;
}
