/* $Id: matrix.css,v 1.10 2008-09-09 08:37:52 sfd Exp $ */

html { overflow: scroll }

.section { background-color: #E0FFFF; margin-top: 1px; margin-bottom: 1px }

.values { padding-left: 1.2em }

.indented { margin-left: 10%; margin-right: 10% }

.error { color: #FF0000 }

.feat { font-variant: small-caps }

.dfn { font-weight: bold }

.delbutton {
  color: black;
  float: left;
  padding: 0px 0px 0px 0px;
  width: 1.5em;
}

div.anchor { display: none }

div.iterframe {
  padding-left: 2px;
  margin: 4px 0px 4px 20px;
  border-left-width: 3px;
  border-left-style: solid;
}

div.iterframe {
  border-color: #808080;
}

div.iterframe div.iterframe {
  border-color: #8080FF;
}

div.iterframe div.iterframe div.iterframe {
  border-color: #80FF80;
}

div.iterframe div.iterframe div.iterframe div.iterframe {
  border-color: #FF80FF;
}

div.iterframe div.iterframe div.iterframe div.iterframe div.iterframe {
  border-color: #FFFF80;
}

div.iterframe div.iterframe div.iterframe div.iterframe div.iterframe div.iterframe {
  border-color: #80FFFF;
}

div.iterframe div.iterframe div.iterframe div.iterframe div.iterframe div.iterframe div.iterframe {
  border-color: #FF8080;
}

#form_holder {
  width:85%;
  float:left;
}

#navmenu {
  width:14%;
  float:right;
  font-size:80%;
  margin:5px;
  padding-right:5px;
  top:0;
  right:0;
  position:fixed;
  border:1px solid black;
}

#navmenu a {
  color:#0000FF;
  text-decoration:underline;
}

#navmenu a:hover {
  cursor:pointer;
}
